<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a.checkattendance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLogin" />
        <activity android:name=".HomepageOfTeacher" />
        <activity android:name=".teacherMessage" />
        <activity android:name=".TeacherSettings" />
        <activity android:name=".TeacherSettingsModifypassword" />
        <activity android:name=".TeacherSettingsIdentityverifi" />
        <activity android:name=".TeacherFeedback" />
        <activity android:name=".TeacherSettingsBindphone" />
        <activity android:name=".TeacherPersoninfo" />
        <activity android:name=".TeacherSchool" />
        <activity android:name=".TeacherStudy" />
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentHomepageActivity" />
        <activity android:name=".StudentQingjiaActivity" />
        <activity android:name=".StudentChatActivity" />
        <activity android:name=".StudentMobanActivity" />
        <activity android:name=".StudentSetActivity" />
        <activity android:name=".StudentInformationActivity" />
        <activity android:name=".StudentKechengActivity" />
        <activity android:name=".StudentChatingActivity" />
        <activity android:name=".StudentpasswordActivity" />
        <activity android:name=".StudentShenfenActivity" />
        <activity android:name=".StudentPhoneActivity"></activity>
        <provider
            android:authorities="com.example.gdzc.cameralbumtest.fileprovider"
        android:name="android.support.v4.content.FileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths">

    </meta-data>
</provider>


    </application>

</manifest>