<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a.checkattendance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".teacher.HomepageOfTeacher" />
        <activity android:name=".teacher.teacherMessage" />
        <activity android:name=".teacher.TeacherSettings" />
        <activity android:name=".teacher.TeacherSettingsModifypassword" />
        <activity android:name=".teacher.TeacherSettingsIdentityverifi" />
        <activity android:name=".teacher.TeacherFeedback" />
        <activity android:name=".teacher.TeacherSettingsBindphone" />
        <activity android:name=".teacher.TeacherPersoninfo" />
        <activity android:name=".teacher.TeacherSchool" />
        <activity android:name=".teacher.TeacherStudy" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".student.StudentHomepageActivity" />
        <activity android:name=".student.StudentQingjiaActivity" />
        <activity android:name=".student.StudentMobanActivity" />
        <activity android:name=".student.StudentSetActivity" />
        <activity android:name=".student.StudentInformationActivity" />
        <activity android:name=".student.StudentKechengActivity" />
        <activity android:name=".student.StudentChatingActivity" />
        <activity android:name=".student.StudentpasswordActivity" />
        <activity android:name=".student.StudentShenfenActivity" />
        <activity android:name=".student.StudentPhoneActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.gdzc.cameralbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".counsellor.CounsellorHomepage" />
        <activity android:name=".student.StudentFeedbackActivity" />
        <activity android:name=".Admin.AdminHomepage" />
        <activity android:name=".Admin.AdminAnalysisActivity" />
        <activity android:name=".Admin.AdminStatisticsActivity" />
        <activity android:name=".Admin.AdminTestActivity" />
        <activity android:name=".Admin.AdminClassStatisticsActivity" />
        <activity android:name=".Admin.AdminPersonStatisticsActivity" />
        <activity android:name=".Admin.AdminPersonalStatisticsActivity" />
        <activity android:name=".Admin.AdminTestScoreActivity" />
        <activity android:name=".Admin.AdminTestclassroomActivity" />
        <activity android:name=".Admin.AdminTestTimeActivity" />
        <activity android:name=".Admin.AdminTestSituationActivity" />
        <activity android:name=".Admin.AdminClassAnalysisActivity" />
        <activity android:name=".Admin.AdminPersonAnalysisActivity" />
        <activity android:name=".Admin.AdminPersonalAnalysisActivity" />
        <activity android:name=".Admin.AdminCourseAnalysisActivity" />
        <activity android:name=".Admin.AdminIssueActivity" />
        <activity android:name=".Admin.AdminTeacherAttendanceActivity" />
        <activity android:name=".Admin.AdminClassAttendanceActivity" />
        <activity android:name=".Admin.AdminPersonalAttendanceActivity" />
        <activity android:name=".Admin.AdminCourseActivity" />
        <activity android:name=".Admin.AdminClassuseActivity" />
        <activity android:name=".Admin.AdminChatingActivity" />
        <activity android:name=".student.StudentAnalysisActivity" />
        <activity android:name=".counsellor.CounsellorDataStatistics" />
        <activity android:name=".counsellor.CounsellorDSClass" />
        <activity android:name=".counsellor.CounsellorClassmateList" />
        <activity android:name=".counsellor.CounsellorDAStudent" />
        <activity android:name=".counsellor.CounsellorDataAnalysis" />
        <activity android:name=".counsellor.CounsellorDAClass" />
        <activity android:name=".counsellor.CounsellorExam" />
        <activity android:name=".counsellor.CounsellorExamCondition" />
        <activity android:name=".counsellor.CounsellorExamroomCondition" />
        <activity android:name=".counsellor.CounsellorExamConditionDetail" />
        <activity android:name=".counsellor.CounsellorExamroomConditionDetail" />
        <activity android:name=".teacher.TeacherTimetable" />
        <activity android:name=".teacher.TeacherRealtimeClassroom" />
        <activity android:name=".teacher.TeacherRealtimeTotalAttendance" />
        <activity android:name=".teacher.TeacherRealtimeChart" />
        <activity android:name=".teacher.TeacherSoftwareVersion" />
        <activity android:name=".teacher.TeacherRemindBeforeClass" />
        <activity android:name=".teacher.TeacherDataAnalysis" />
        <activity android:name=".teacher.TeacherClassHistory" />
        <activity android:name=".teacher.TeacherMyAttendance" />
        <activity android:name=".teacher.TeacherMyAttendanceChooseCourse" />
        <activity android:name=".teacher.TeacherMyCourse" />
        <activity android:name=".teacher.TeacherAddCourse" />
        <activity android:name=".teacher.TeacherDataAnalysisChooseClass" />
        <activity android:name=".student.StudentStatisticActivity" />
        <activity android:name=".student.StudentPersonalStatisticActivity" />
        <activity android:name=".student.StudentChartActivity"></activity>
        <activity android:name=".counsellor.CounsellorMyClass"></activity>
    </application>

</manifest>